# Ignorar todas las carpetas llamadas "test" en cualquier nivel
tests/**

# Ignorar el archivo dependencies.py en app/
app/dependencies.py

# Mantener la carpeta data/, pero descartar todos sus archivos
!data/
data/assets/mcp_aemps_logo_v1.jpeg
data/assets/mcp_aemps_logo_v2.jpg
data/assets/mcp_aemps_logo_v2.psd
data/documentacion/*
data/img/*
data/pdf/*
